#textdomain wesnoth-RSP
[textdomain]
    name="wesnoth-RSP"
    path="data/add-ons/Refumees_Saurian_Pack/translations"
[/textdomain]

#ifdef EDITOR
	[binary_path]
		path=data/add-ons/Refumees_Saurian_Pack
	[/binary_path]

	[editor_group]
		id=rsp
		name= _ "Refumees Saurian Pack"
		icon="group_custom"
	[/editor_group]
	{~add-ons/Refumees_Saurian_Pack/rsp-terrains.cfg}
#endif

#ifdef MULTIPLAYER
	[binary_path]
		path=data/add-ons/Refumees_Saurian_Pack
	[/binary_path]
	
	{~add-ons/Refumees_Saurian_Pack/macros}
	{~add-ons/Refumees_Saurian_Pack/rsp-terrains.cfg}

	[lua]
		code="wesnoth.require '~add-ons/Refumees_Saurian_Pack/lua/wesnoth_lua_pack.lua'"
	[/lua]

	{~add-ons/Refumees_Saurian_Pack/era/era.cfg}
	
	{SAURIAN_ZODIAC_SIGNS}
#endif
