#textdomain wesnoth-RSP
# makes it easier to add RSP to the campaign

	[era]
		id=era_Saurian
		name= _ "Default + Saurians"
		description= _ "Mainline factions + dunefolk + different saurian tribes"
		{ERA_DEFAULT}
		{~add-ons/Refumees_Saurian_Pack/recruit_lists.cfg}
		{~add-ons/Refumees_Saurian_Pack/faction/deep-saurians-default.cfg}
		{~add-ons/Refumees_Saurian_Pack/faction/desert-saurians-default.cfg}
		{~add-ons/Refumees_Saurian_Pack/faction/saurians-band-default.cfg}
		{~add-ons/Refumees_Saurian_Pack/faction/saurians-default.cfg}
		{~add-ons/Refumees_Saurian_Pack/faction/undead-saurians-default.cfg}
		[modify_unit_type]
			type=Saurian Skirmisher
			add_advancement=Saurian Spearthrower
		[/modify_unit_type]
		[load_resource]
			id=vp_ability_events
		[/load_resource]
	[/era]