#define RSP_SAURIAN_UNIT_IMPORT
		[units]
			{~add-ons/Refumees_Saurian_Pack/units/}
			{~add-ons/Refumees_Saurian_Pack/units/saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/campaign-saurians}
			{~add-ons/Refumees_Saurian_Pack/units/deep-saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/bitter-swamp-saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/black-marshes-saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/thief-saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/desert-saurians/}
			{~add-ons/Refumees_Saurian_Pack/units/undead-saurians/}
		[/units]
#enddef

[resource]
    id=vp_recruits
	[units]
		{~add-ons/Refumees_Saurian_Pack/units/}
		{~add-ons/Refumees_Saurian_Pack/units/saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/campaign-saurians}
		{~add-ons/Refumees_Saurian_Pack/units/deep-saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/bitter-swamp-saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/black-marshes-saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/thief-saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/desert-saurians/}
		{~add-ons/Refumees_Saurian_Pack/units/undead-saurians/}
	[/units]
[/resource]

#	[load_resource]
#		id=vp_recruits
#	[/load_resource]
